{# src/_includes/post.njk #}
---
layout: layout.njk
---
<article class="post-full">

  {# Attempting built-in Nunjucks date filter again #}
  {# Using custom date filters #}
      <p class="post-meta">
        Published on: <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      </p>
  <hr>

  {{ content | safe }}

</article>